img {
    border-radius: 50%;
    position: relative;
    transform: rotate(0);
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    
    to {
        transform: rotate(360deg)
    }
}